/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oswald');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');


body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: center;
}
/*Logo css*/
.logo {
  float:left;
  display: block;
}

.header {
  margin-top:-25px;
  width: 100%;
  background-color: #141819;
  height:45px;
  margin-bottom: 0px;
  color: aliceblue;
  text-align:center;

}
/*navigation bar css*/
nav ul {
  margin-left: 15%;
}



li {
  height: 25px;
  float: left;
  margin-right: 0px;
  list-style-type:none;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
  
}

li a {
  text-decoration: none;
  color: #1A1921;
  font-family: 'Fjalla One', sans-serif;
}

li a:hover {
  color: #000000;
}

li.active a {
  font-weight: lighter;
  color: #2E0E0E;
  border-bottom: 1px solid
   #ccc;
}

/*left red block css*/
.Border_Left {
  background-color: #2E0E0E;
  width:10%;
  height: 6000px;
  float: left;
  display:block;
}

/*right red block css*/
.Border_Right {
  background-color: #2E0E0E;
  width:10%;
  height: 6000px;
  float: left;
  display:block;
}
/*header tag css*/
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

h3 {
  font-family:'Hind Siliguri', sans-serif;
  font-size: 25px;
  text-align: center;
}

h2 {
  font-family:"Open Sans", sans-serif;
  font-size:20px;
  text-align: center;
}
/*main content css*/
.content {
  width:70%;
  height:6000px;
  float:left;
  display:block;
  color: #ccc;
  font-size:16px;
  text-align:left;
  margin-left: 5%;
  margin-right: 5%;
}
/* css to center the images within the class*/
.CenterImages {
  text-align:center;
}

/*footer css*/
footer {
  clear: left;
  color: #ccc;
  width:100%;
  height:25px;
  background-color:#000000;
}

footer a {
  color:#ccc;
}

footer a:hover {
  color:#908F90
}
/*media query for when the site's max-width goes to 650px;*/
@media (max-width:650px) {
  .content {
    font-size: 11px;
  }

  .Video {
    display:none;
  }

  .VideoMobi {
    display:block;
  }

  .ScreenshotOne {
    display:none;
  }
  
  .ScreenshotOneMobi {
    display:block;
  }
  
  .ScreenshotTwo {
    display:none;
  }
  
  .ScreenshotTwoMobi {
    display:block;
  }
  
  .ScreenshotThree {
    display:none;
  }
  
  .ScreenshotThreeMobi {
    display:block;
  }

  .content {
    height:6000px;
  }

  .Border_Left {
    height:6000px;
  }

  .Border_Right {
    height:6000px;
  }

}


.NavMenu {
  background-color:#141819;
}


/* Following mobiNav code was taken and changed from Liz's Code pen example for Hover drop-down menu */
.mobiNav {
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 70%;
}
.mobiNav:hover .mobiNav-content {
  max-height: 300px;
}
.mobiNav-content {
  -webkit-transition: max-height 3s;
  -moz-transition: max-height 3s;
  -ms-transition: max-height 3s;
  -o-transition: max-height 3s;
  transition: max-height 3s;
  background: #908F90;
  overflow: hidden;
  max-height: 0;
}
.mobiNav-inner {
  padding: 0 15px;
}
.mobiNav-toggle {
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
  background: #2E0E0E;
  border-radius: 10px;
  display: block;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.mobiNav-toggle:hover {
  background: #141819;
}

